body {
    background-color: #819ff7;
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.432)),
            to(#ebf781)
        )
        fixed;
    padding-top: 70px;
    position: relative;
    z-index: 1;
}
.navbar {
    z-index: 1000;
}

.modal {
    z-index: 1200;
}

table {
    background: #f1f1ff !important;
}

#dashboardDocente {
    background-color: rgba(211, 212, 211, 0.61) !important;
}

.btn-danger {
    background-color: rgba(200, 35, 51, 0.83) !important;
    border: 0 !important;
}

.btn-danger:hover {
    background-color: #c82333 !important;
}

.swal-button--confirm {
    background-color: #ffc107;
    color: #555;
}

.swal-button:not([disabled]):hover {
    background-color: #e0a800;
}

.swal-modal .swal-text {
    text-align: center;
}

#importaExcel .modal-dialog {
    max-width: 100%;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    text-align: end;
}

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}
select.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

.caja {
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 2px 4px 0 rgb(80 83 90 / 30%);
    box-shadow: 0 2px 4px 0 rgb(80 83 90 / 30%);
    border-radius: 4px;
    border: 1px solid #e9eae8;
}
